input#search-query {
  width: 20em;
}

div.content {
  margin-top: 80px;
}

form.sign-in, form.register, form.reset-password, form.song div.form-group input  {
  width: 400px;
  margin-bottom: 20px;
}

div[song] {
  p {
    padding-left: 6em;
    margin-bottom: 3em;
  }

  div.meta {
    margin: 2em 0 3.5em 0;
  }

  ul {
    margin-top: 1em;
  }

  div.tab-chords {
    margin-top: 3.5em;
  }

  form > div {
    padding: 2em 0;
  }

  textarea {
    width: 100%;
    height: 30em;
  }

  section {
    position: relative;
  }

  span.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 6em;
    display: block;
    font-weight: bold;
    margin-bottom: 3em;
  }

  span.offset {
    position: relative;
    padding: 0.5em 0;
  }

  span.chord {
    color: #3c763d;
    font-weight: bold;
    position: absolute;
    top: -1.5em;
  }

  span.editor {
    font-size: 0.66em;
    display: block;
    position: absolute;
    top: 3em;
    width: 16.2em;
    height: 6em;
    padding: 1em;
    background-color: #eee;
    border: 1px solid #888;
    font-weight: normal;
  }

  &[edit] {
    section {
      font-size: 1.5em;
    }

    span.offset span.char:hover {
      font-weight: bold;
      background-color: #ffff88;
      cursor: pointer;
      padding: 0.5em 0.5em;
    }
  }
}