<div notifications>
    <div class="pull-right">
        <a ng-click="ctrl.readAllNotifications()" class="btn btn-default">Označit vše jako přečtené</a>
    </div>
    <h1>Upozornění</h1>
    <div class="media notification" ng-repeat="notification in ctrl.notifications"
         ng-style="{'background-color': (notification.read ? '#ffffff' : '#f8f8f8')}">
        <a href="#{{notification.url}}" ng-click="ctrl.readNotification(notification)">
            <div class="media-left">
                <span class="glyphicon {{notification.targetType}}"></span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><div ng-bind-html="notification.text"></div></h4>
                {{ctrl.formatter.format(notification.created)}}
            </div>
        </a>
    </div>
</div>