<div public-songs>
    <div class="pull-right">
        <form class="form-inline" role="search">
            <div class="form-group">
                <input ng-model="ctrl.search" type="text" class="form-control" placeholder="Filtrovat písně">
            </div>
        </form>
    </div>

    <h1>Veřejné písně</h1>
    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="song in ctrl.visibleSongs">
            <td><a href="#/song/{{song.id}}/view">{{song.title}}</a></td>
            <td>{{song.author}}</td>
            <td>{{song.album}}</td>
            <td>{{song.year}}</td>
            <td>{{song.username}}</td>
            <td>{{song.tagsStr}}<span ng-if="song.tagsStr != '' && song.privateTagsStr != ''">, </span><span class="text-success">{{song.privateTagsStr}}</span></td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th>Název</th>
            <th>Autor</th>
            <th>Album</th>
            <th>Rok</th>
            <th>Vlastník</th>
            <th>Tagy</th>
        </tr>
        </thead>
    </table>
    <!--<div class="row" ng-repeat="row in ctrl.songs">
        <div class="col-md-3" ng-repeat="song in row">
            <h3><a href="#/song/{{song.id}}/view">{{song.title}}</a></h3>
                <span ng-if="song.author != null"><b>Autor</b>
                {{song.author}}<br></span>
                <span ng-if="song.originalAuthor != null"><b>Původní autor</b>
                {{song.originalAuthor}}<br></span>
                <span ng-if="song.album != null"><b>Album</b>
                {{song.album}}<br></span>
                <span ng-if="song.year != null"><b>Rok</b>
                {{song.year}}<br></span>
                <span ng-if="song.note != null"><b>Poznámka</b>
                {{song.note}}<br></span>
                <span ng-if="song.tagsStr != ''"><b>Tagy:</b>
                {{song.tagsStr}}<br></span>
                <span ng-if="song.username != null"><b>Vlastník:</b>
                {{song.username}}<br></span>
        </div>
    </div>-->
</div>