<div songbooks>
    <div class="pull-right">
        <form class="form-inline" role="search">
            <input ng-model="ctrl.search" type="text" class="form-control" placeholder="Filtrovat zpěvníky">
            <a href="#/songbook/create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nový zpěvník</a>
        </form>
    </div>
    <h1>Vlastní a převzaté  zpěvníky</h1>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="songbook in ctrl.visibleSongbooks">
                <td><a href="#/songbook/{{songbook.id}}/view">{{songbook.name}}</a></td>
                <td>{{songbook.numberOfSongs}}</td>
                <td>{{songbook.username}}</td>
                <td>{{songbook.tagsStr}}<span ng-if="songbook.tagsStr != '' && songbook.privateTagsStr != ''">, </span><span class="text-success">{{songbook.privateTagsStr}}</span></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Název</th>
                <th>Počet písní</th>
                <th>Vlastník</th>
                <th>Tagy</th>
            </tr>
        </thead>
    </table>
</div>