<div song song-comments>
    <div ng-if="ctrl.song != null">
        <div class="pull-right" ng-if="ctrl.user != null">
            <!--<span ng-if="ctrl.user.username != ctrl.song.username">
                <a ng-click="ctrl.takeSong()" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span> Převzít píseň
                </a>
            </span>-->
            <span ng-if="ctrl.user.username == ctrl.song.username" style="position: relative">
                <a class="btn btn-info" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-wrench"></span> Správa písně <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#/song/{{ctrl.song.id}}/edit">
                            <span class="glyphicon glyphicon-pencil"></span> Editovat
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#delete">
                            <span class="glyphicon glyphicon-trash"></span> Smazat
                        </a>
                    </li>
                </ul>
            </span>
            <span style="position: relative">
                <a class="btn btn-default" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-th-list"></span> Možnosti písně <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-if="ctrl.user.username == ctrl.song.username || ctrl.song.taken">
                        <a data-toggle="modal" data-target="#tag">
                            <span class="glyphicon glyphicon-tag"></span> Soukromé tagy
                        </a>
                    </li>
                    <li ng-if="ctrl.user.username == ctrl.song.username || ctrl.song.taken">
                        <a data-toggle="modal" data-target="#songbook">
                            <span class="glyphicon glyphicon-book"></span> Zařadit do zpěvníku
                        </a>
                    </li>
                    <li ng-if="ctrl.user.username == ctrl.song.username && !ctrl.song.public">
                        <a data-toggle="modal" data-target="#share">
                            <span class="glyphicon glyphicon-share-alt"></span> Sdílet
                        </a>
                    </li>
                    <li ng-if="ctrl.user.username != ctrl.song.username">
                        <a ng-click="ctrl.taking()">
                            <span class="glyphicon glyphicon-link"></span>
                            <span ng-if="!ctrl.song.taken"> Převzít píseň</span>
                            <span ng-if="ctrl.song.taken"> Zrušit převzetí</span>
                        </a>
                    </li>
                    <li ng-if="ctrl.user.username != ctrl.song.username">
                        <a ng-click="ctrl.copySong()">
                            <span class="glyphicon glyphicon-duplicate"></span> Kopírovat píseň
                        </a>
                    </li>
                </ul>
            </span>
            <!-- XML EXPORT -->
            <!--<span>
                <a ng-click="ctrl.export('agama')" class="btn btn-default" data-toggle="modal" data-target="#export"><span class="glyphicon glyphicon-open"></span> Exportovat</a>
            </span>-->

        </div>

        <!-- tag modal -->
        <div class="modal fade" id="tag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="tagLabel">Přidat vlastní tagy</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tags">Tagy oddělené čárkami</label>
                            <input type="text" class="form-control" id="tags" ng-model="ctrl.song.privateTagsStr">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                        <button ng-click="ctrl.addTags()" type="button" class="btn btn-primary" data-dismiss="modal">Odeslat</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- songbook modal -->
        <div class="modal fade" id="songbook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog smaller-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="songbookLabel">Zařadit píseň do zpěvníku</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list-unstyled">
                            <li ng-repeat="songbook in ctrl.allSongbooks">
                                <a ng-if="ctrl.song.isInSongbook(songbook.id)" ng-click="ctrl.removeFromSongbook(songbook)">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    <span class="toggle-on-label">{{songbook.name}}</span>
                                </a>
                                <a ng-if="!ctrl.song.isInSongbook(songbook.id)" ng-click="ctrl.addToSongbook(songbook)">
                                    <span class="toggle-off-label">{{songbook.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="ctrl.saveSongbooks()" data-dismiss="modal">Uložit změny</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- delete modal -->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="deleteLabel">Opravdu chcete píseň {{ctrl.song.title}} smazat?</h4>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="ctrl.delete()" type="button" class="btn btn-default" data-dismiss="modal">Ano</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- XML export modal -->
        <!--<div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="exportLabel">Export ve formátu agama</h4>
                    </div>
                    <div class="modal-body">
                        <textarea readonly style="cursor: text" class="form-control monospaced" ng-model="ctrl.agama"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                    </div>
                </div>
            </div>
        </div>-->

        <!-- share modal -->
        <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="shareLabel">Sdílet</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="targetUser">Cílový uživatel</label>
                            <input type="text" class="form-control" id="targetUser" ng-model="ctrl.targetUser">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                        <button ng-click="ctrl.share()" type="button" class="btn btn-primary" data-dismiss="modal">Sdílet</button>
                    </div>
                </div>
            </div>
        </div>

        <h1>{{ctrl.song.title}}</h1>
        <div ng-if="ctrl.song.archived" class="alert alert-warning">
            <strong>Tato píseň byla smazána.</strong>
            Pokud ji chcete nadále používat, můžete si ji zkopírovat.
        </div>
        <div ng-if="ctrl.song.copy" class="alert alert-warning">
            <strong>Píseň byla od Vaší poslední návštěvy upravena.</strong>
            Můžete si zobrazit <a href="#/song/{{ctrl.song.id}}/old">předchozí verzi</a>, nebo <a ng-click="ctrl.discardCopy()">ponechat tuto</a>.
        </div>
        <div class="pull-right">
            <div id="transpose" class="form-inline">
                <span>
                    <b>Transponovat: </b><br />
                    <a class="btn btn-primary glyphicon-minus" ng-click="ctrl.transpose(-1)"></a>
                    <div class="form-group">
                        <label class="sr-only" for="transponsition">Počet půltónů oproti původnímu stavu</label>
                        <input id="transponsition" class="form-control" type="number" ng-model="ctrl.transposition" value="1" min="1" max="12" readonly>
                    </div>
                    <a class="btn btn-primary glyphicon-plus" ng-click="ctrl.transpose(1)"></a>
                </span>
            </div>
        </div>

        <div class="central">
            <div class="meta">
                <span ng-if="ctrl.user != null && ctrl.song.username == ctrl.user.username"><b>Vaše vlastní </b></span>
                <span ng-if="ctrl.user == null || ctrl.song.username != ctrl.user.username"><b>Cizí </b></span>
                <span ng-if="ctrl.song.public"><b>veřejná</b></span>
                <span ng-if="!ctrl.song.public"><b>privátní</b></span>
                <span><b> píseň</b><br /></span>
                <span ng-if="ctrl.user == null || ctrl.song.username != ctrl.user.username"><b>Vlastník:</b>
                {{ctrl.song.username}}<br></span>
                <span><b>Průměrné hodnocení:</b>
                    <span ng-if="ctrl.song.rating < 1">Zatím nehodnoceno</span>
                    <img ng-if="ctrl.song.rating >= 1" src="img/star.png" width="20" height="20">
                    <img ng-if="ctrl.song.rating >= 2" src="img/star.png" width="20" height="20">
                    <img ng-if="ctrl.song.rating >= 3" src="img/star.png" width="20" height="20">
                    <img ng-if="ctrl.song.rating >= 4" src="img/star.png" width="20" height="20">
                    <img ng-if="ctrl.song.rating >= 5" src="img/star.png" width="20" height="20">
                    <a href="#/song/{{ctrl.song.id}}/ratings"><small>(více)</small></a>
                    <br>
                    <span ng-if="ctrl.song.rating > 0">
                        Hodnotil<span  ng-if="ctrl.song.numOfRating > 1 && ctrl.song.numOfRating < 5">i</span><span  ng-if="ctrl.song.numOfRating >= 5">o</span>
                        {{ctrl.song.numOfRating}} uživatel<span  ng-if="ctrl.song.numOfRating > 1 && ctrl.song.numOfRating < 5">é</span><span  ng-if="ctrl.song.numOfRating >= 5">ů</span>.
                    </span>
                    <a ng-if="ctrl.user != null && ctrl.song.username != ctrl.user.username" href="#/song/{{ctrl.song.id}}/ratings/rate">Ohodnotit</a>
                    <br ng-if="ctrl.song.rating > 0 || (ctrl.user != null && ctrl.song.username != ctrl.user.username)">
                </span>
                <span ng-if="ctrl.song.tagsStr != '' || ctrl.song.privateTagsStr != ''"><b>Tagy:</b>
                {{ctrl.song.tagsStr}}<span ng-if="ctrl.song.tagsStr != '' && ctrl.song.privateTagsStr != ''">, </span><span class="text-success">{{ctrl.song.privateTagsStr}}</span><br></span>
                <span ng-if="ctrl.song.note != null"><b>Poznámka:</b>
                {{ctrl.song.note}}<br></span>
            </div>
            <div class="meta">
                <span ng-if="ctrl.song.author != null"><b>Autor:</b>
                {{ctrl.song.author}}<br></span>
                <span ng-if="ctrl.song.originalAuthor != null"><b>Původní autor:</b>
                {{ctrl.song.originalAuthor}}<br></span>
                <span ng-if="ctrl.song.album != null"><b>Album:</b>
                {{ctrl.song.album}}<br></span>
                <span ng-if="ctrl.song.year != null"><b>Rok:</b>
                {{ctrl.song.year}}<br></span>
            </div>

            <section ng-repeat="section in ctrl.lyrics">
                <span class="title">{{section['title']}}&nbsp;</span>

                <p ng-repeat="line in section['lines']" class="line">
                    <chpos ng-repeat="char in line track by $index" offset="char['offset']" ctrl="ctrl" char="char['char']" hypen="$index + 1 < line.length && line[$index + 1]['char'] != ' '" chord="ctrl.song.chords[char['offset'].toString()]" editable="false">{{index}}</chpos>
                </p>
            </section>
        </div>



        <h3>Komentáře</h3>

        <form role="form" ng-submit="ctrl2.save()" ng-if="ctrl2.user != null">
            <textarea placeholder="Přidejte komentář" class="comment form-control" required id="input-comment" ng-model="ctrl2.comment.comment">
            </textarea>
            </br>
            <button type="submit" class="btn btn-success">Uložit</button>
        </form>

        <div class="comment" ng-repeat="comment in ctrl2.comments">
            <span><b>{{comment.username}} napsal: </b><p class="comment">{{comment.comment}}</p></span>
            <span><b>Vytvořeno: </b>{{comment.created}}</span>
            <span ng-if="ctrl2.user != null && ctrl2.user.username == comment.username">
                <span ng-if="ctrl2.editId != comment.id"
                    ng-click="ctrl2.prepareEdit(comment.id)"><a>Upravit</a>
                </span>
            </span>
            <span ng-if="ctrl2.user != null && (ctrl2.user.username == comment.username || ctrl2.user.role.slug == 'admin')">
                <span ng-click="ctrl2.delete(comment.id)">
                    <a>Smazat</a>
                </span>
            </span>
            <form ng-if="ctrl2.editId == comment.id" class="comment" role="form" ng-submit="ctrl2.commentEdit()">
                <textarea class="form-control comment" required id="edit-comment-{{comment.id}}" ng-model="ctrl2.editComment.comment">
                </textarea>
                </br>
                <button type="submit" class="btn btn-success">Uložit</button>
            </form>
        </div>
    </div>
</div>






