<div songbook songbook-comments>
    <div ng-if="ctrl.songbook != null">
        <div class="pull-right" ng-if="ctrl.user != null">
            <span ng-if="ctrl.user.username == ctrl.songbook.username">
                <span style="position: relative">
                    <a class="btn btn-info" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-wrench"></span> Správa zpěvníku <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#/songbook/{{ctrl.songbook.id}}/edit">
                                <span class="glyphicon glyphicon-pencil"></span> Editovat
                            </a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#delete">
                                <span class="glyphicon glyphicon-trash"></span> Smazat
                            </a>
                        </li>
                    </ul>
                </span>
                <span style="position: relative">
                    <a class="btn btn-default" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-music"></span> Správa písní <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#/song/create/songbook/{{ctrl.songbook.id}}">
                                <span class="glyphicon glyphicon-plus"></span> Vytvořit píseň
                            </a>
                        </li>
                        <li>
                            <a href="#/songs/songbook/{{ctrl.songbook.id}}">
                                <span class="glyphicon glyphicon-book"></span> Výběr písní
                            </a>
                        </li>
                    </ul>
                </span>
            </span>
            <span style="position: relative">
                <a class="btn btn-default" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-th-list"></span> Možnosti zpěvníku <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-if="ctrl.user.username == ctrl.songbook.username">
                        <a data-toggle="modal" data-target="#tag">
                            <span class="glyphicon glyphicon-tag"></span> Soukromé tagy
                        </a>
                    </li>
                    <li ng-if="ctrl.user.username == ctrl.songbook.username && !ctrl.songbook.public">
                        <a data-toggle="modal" data-target="#share">
                            <span class="glyphicon glyphicon-share-alt"></span> Sdílet
                        </a>
                    </li>
                </ul>
            </span>
        </div>

        <!-- tag modal -->
        <div class="modal fade" id="tag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="tagLabel">Přidat vlastní tagy</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tags">Tagy oddělené čárkami</label>
                            <input type="text" class="form-control" id="tags" ng-model="ctrl.songbook.privateTagsStr">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                        <button ng-click="ctrl.addTags()" type="button" class="btn btn-primary" data-dismiss="modal">Odeslat</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- delete modal -->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="deleteLabel">Opravdu chcete zpěvník {{ctrl.songbook.name}} smazat?</h4>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="ctrl.delete()" type="button" class="btn btn-default" data-dismiss="modal">Ano</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- share modal -->
        <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="shareLabel">Sdílet</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="targetUser">Cílový uživatel</label>
                            <input type="text" class="form-control" id="targetUser" ng-model="ctrl.targetUser">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                        <button ng-click="ctrl.share()" type="button" class="btn btn-primary" data-dismiss="modal">Sdílet</button>
                    </div>
                </div>
            </div>
        </div>

        <h1>{{ctrl.songbook.name}}</h1>
        <div class="meta">
            <span ng-if="ctrl.user != null && ctrl.songbook.username == ctrl.user.username"><b>Váš vlastní </b></span>
            <span ng-if="ctrl.user == null || ctrl.songbook.username != ctrl.user.username"><b>Cizí </b></span>
            <span ng-if="ctrl.songbook.public"><b>veřejný</b></span>
            <span ng-if="!ctrl.songbook.public"><b>privátní</b></span>
            <span><b> zpěvník</b><br /></span>
            <span ng-if="ctrl.user == null || ctrl.songbook.username != ctrl.user.username"><b>Vlastník:</b>
            {{ctrl.songbook.username}}<br></span>
            <span><b>Počet písní:</b> {{ctrl.songbook.songs.length}}<br></span>
            <span><b>Průměrné hodnocení:</b>
                <span ng-if="ctrl.songbook.rating < 1">Zatím nehodnoceno</span>
                <img ng-if="ctrl.songbook.rating >= 1" src="img/star.png" width="20" height="20">
                <img ng-if="ctrl.songbook.rating >= 2" src="img/star.png" width="20" height="20">
                <img ng-if="ctrl.songbook.rating >= 3" src="img/star.png" width="20" height="20">
                <img ng-if="ctrl.songbook.rating >= 4" src="img/star.png" width="20" height="20">
                <img ng-if="ctrl.songbook.rating >= 5" src="img/star.png" width="20" height="20">
                <a href="#/songbook/{{ctrl.songbook.id}}/ratings"><small>(více)</small></a>
                <br>
                <span ng-if="ctrl.songbook.rating > 0">
                    Hodnotil<span  ng-if="ctrl.songbook.numOfRating > 1 && ctrl.songbook.numOfRating < 5">i</span><span  ng-if="ctrl.songbook.numOfRating >= 5">o</span>
                    {{ctrl.songbook.numOfRating}} uživatel<span  ng-if="ctrl.songbook.numOfRating > 1 && ctrl.songbook.numOfRating < 5">é</span><span  ng-if="ctrl.songbook.numOfRating >= 5">ů</span>.
                </span>
                <a ng-if="ctrl.user != null && ctrl.songbook.username != ctrl.user.username" href="#/songbook/{{ctrl.songbook.id}}/ratings/rate">Ohodnotit</a>
                <br ng-if="ctrl.songbook.rating > 0 || (ctrl.user != null && ctrl.songbook.username != ctrl.user.username)">
            </span>
            <span ng-if="ctrl.songbook.tagsStr != '' || ctrl.songbook.privateTagsStr != ''"><b>Tagy:</b>
                {{ctrl.songbook.tagsStr}}<span ng-if="ctrl.songbook.tagsStr != '' && ctrl.songbook.privateTagsStr != ''">, </span><span class="text-success">{{ctrl.songbook.privateTagsStr}}</span><br></span>
            <span ng-if="ctrl.songbook.note != null"><b>Poznámka:</b>
            {{ctrl.songbook.note}}<br></span>
        </div>

        <h3>Písně</h3>
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="song in ctrl.songbook.songs">
                <td>{{$index + 1}}</td>
                <td><a href="#/song/{{song.id}}/view">{{song.title}}</a></td>
                <td>{{song.author}}</td>
                <td>{{song.album}}</td>
                <td>{{song.year}}</td>
                <td>{{song.username}}</td>
                <td>{{song.tagsStr}}<span ng-if="song.tagsStr != '' && song.privateTagsStr != ''">, </span><span class="text-success">{{song.privateTagsStr}}</span></td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th>Pořadí</th>
                <th>Název</th>
                <th>Autor</th>
                <th>Album</th>
                <th>Rok</th>
                <th>Vlastník</th>
                <th>Tagy</th>
            </tr>
            </thead>
        </table>

        <h3>Komentáře</h3>

        <form role="form" ng-submit="ctrl2.save()">
            <textarea placeholder="Přidejte komentář" class="form-control comment" required id="input-comment" ng-model="ctrl2.comment.comment">
            </textarea>
            </br>
            <button type="submit" class="btn btn-success">Uložit</button>
        </form>

        <div class="comment" ng-repeat="comment in ctrl2.comments">
            <span><b>{{comment.username}} napsal: </b><p class="comment">{{comment.comment}}<p></span>
            <span><b>Vytvořeno: </b>{{comment.created}}</span>
            <span ng-if="ctrl2.user != null && ctrl2.user.username == comment.username">
                <span ng-if="ctrl2.editId != comment.id" ng-click="ctrl2.prepareEdit(comment.id)">
                    <a>Upravit</a>
                </span>
            </span>
            <span ng-if="ctrl2.user != null && (ctrl2.user.username == comment.username || ctrl2.user.role.slug == 'admin')">
                <span ng-click="ctrl2.delete(comment.id)">
                    <a>Smazat</a>
                </span>
            </span>
            <form ng-if="ctrl2.editId == comment.id" class="comment" role="form" ng-submit="ctrl2.commentEdit()">
                <textarea class="form-control comment" required id="edit-comment-{{comment.id}}" ng-model="ctrl2.editComment.comment">
                </textarea>
                </br>
                <button type="submit" class="btn btn-success">Uložit</button>
            </form>
        </div>
    </div>
</div>