<div songbook_ratings songbook-ratings>

    <div class="pull-right">
        <form class="form-inline" role="search">
            <a href="#/songbook/{{ctrl.songbook.id}}/rating/edit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ohodnotit</a>
            <a href="#/songbook/{{ctrl.songbook.id}}/view" class="btn btn-default">Zpět</a>
        </form>
    </div>

    <h1>Hodnocení zpěvníku {{ctrl.songbook.name}}</h1>
    <div class="meta" ng-repeat="rating in ctrl.ratings">
        <img ng-if="rating.rating >= 1" src="img/star.png" width="20" height="20">
        <img ng-if="rating.rating >= 2" src="img/star.png" width="20" height="20">
        <img ng-if="rating.rating >= 3" src="img/star.png" width="20" height="20">
        <img ng-if="rating.rating >= 4" src="img/star.png" width="20" height="20">
        <img ng-if="rating.rating >= 5" src="img/star.png" width="20" height="20">
        </br>
        <span><b>Komentář: </b>{{rating.comment}}</br></span>
        </br>
    </div>

</div>