<div public-songbooks>
    <div class="pull-right">
        <form class="form-inline" role="search">
            <input ng-model="ctrl.search" type="text" class="form-control" placeholder="Filtrovat zpěvníky">
        </form>
    </div>

    <h1>Veřejné zpěvníky</h1>
    <div class="row" ng-repeat="songbook in ctrl.visibleSongbooks">
        <div class="col-md-12">
            <h3><a href="#/songbook/{{songbook.id}}/view">{{songbook.name}}</a></h3>
            <span ng-if="songbook.note != null"><b>Poznámka:</b>
                {{songbook.note}}<br></span>
            <span ng-if="songbook.tagsStr != '' || songbook.privateTagsStr != ''"><b>Tagy:</b>
                {{songbook.tagsStr}}
                <span ng-if="songbook.tagsStr != '' && songbook.privateTagsStr != ''">, </span>
                <span class="text-success">{{songbook.privateTagsStr}}</span><br>
            </span>
            <span ng-if="songbook.username != null"><b>Vlastník:</b>
                {{songbook.username}}<br></span>
            <br>
        </div>
    </div>
</div>