<div songbook-sharing>

    <div class="btn-group pull-right">
        <a href="#/songbook/{{ctrl.songbook.id}}/view" class="btn btn-default">Zpět</a>
    </div>

    <h1>
        <span>Sdílet zpěvník</span>
        <span ng-if="ctrl.songbook.name != ''" class="text-muted"> {{ctrl.songbook.name}}</span>
    </h1>

    <form class="songbook" role="form" ng-submit="ctrl.save()">
        <div class="form-group">
            <label for="input-name">Cílový uživatel</label>
            <input type="text" required class="form-control" id="input-name" ng-model="ctrl.userName">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="ctrl.editable"> Povolit editaci zpěvníku
            </label>
        </div>

        <button type="submit" class="btn btn-success">Uložit</button>
    </form>
</div>