<div songs>
    <div class="pull-right">
        <form class="form-inline" role="search">
            <div class="form-group">
                <input ng-model="ctrl.search" type="text" class="form-control" placeholder="Filtrovat písně">
            </div>
            <button type="button" class="btn" ng-click="ctrl.toggleAdvSearch()"><span class="glyphicon glyphicon-zoom-in"></span></button>
            <a href="#/song/create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Vytvořit píseň</a>
            <!-- XML IMPORT -->
            <!--<a href="#/song/import" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Importovat píseň</a> -->
        </form>
    </div>

    <h1>Vlastní a převzaté písně</h1>
    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="song in ctrl.visibleSongs">
            <td><a href="#/song/{{song.id}}/view">{{song.title}}</a></td>
            <td>{{song.author}}</td>
            <td>{{song.originalAuthor}}</td>
            <td>{{song.album}}</td>
            <td>{{song.year}}</td>
            <td>{{song.username}}</td>
            <td>{{song.tagsStr}}</td>
            <td>{{song.note}}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th>Název</th>
            <th>Autor</th>
            <th>Původní autor</th>
            <th>Album</th>
            <th>Rok</th>
            <th>Vlastník</th>
            <th>Tagy</th>
            <th>Poznámka</th>
        </tr>
        </thead>
    </table>
    <!--<h2>Vlastní</h2>
    <song_search visible="ctrl.advSearchVisible" ctrl="ctrl" filters="ctrl.filters"></song_search>
        <div class="row" ng-repeat="row in ctrl.songs">
            <div class="col-md-3" ng-repeat="song in row">
                <h3><a href="#/song/{{song.id}}/view">{{song.title}}</a></h3>
                <span ng-if="song.author != null"><b>Autor</b>
                {{song.author}}<br></span>
                <span ng-if="song.originalAuthor != null"><b>Původní autor</b>
                {{song.originalAuthor}}<br></span>
                <span ng-if="song.album != null"><b>Album</b>
                {{song.album}}<br></span>
                <span ng-if="song.year != null"><b>Rok</b>
                {{song.year}}<br></span>
                <span ng-if="song.tagsStr != ''"><b>Tagy</b>
                {{song.tagsStr}}<br></span>
                <span ng-if="song.note != null"><b>Poznámka</b>
                {{song.note}}<br></span>
            </div>
        </div>
    <h2>Sdílené</h2>
    <div class="row" ng-repeat="row in ctrl.sharedSongs">
        <div class="col-md-3" ng-repeat="song in row">
            <h3><a href="#/song/{{song.id}}/view">{{song.title}}</a></h3>
                <span ng-if="song.author != null"><b>Autor</b>
                {{song.author}}<br></span>
                <span ng-if="song.originalAuthor != null"><b>Původní autor</b>
                {{song.originalAuthor}}<br></span>
                <span ng-if="song.album != null"><b>Album</b>
                {{song.album}}<br></span>
                <span ng-if="song.year != null"><b>Rok</b>
                {{song.year}}<br></span>
                <span ng-if="song.tagsStr != ''"><b>Tagy</b>
                {{song.tagsStr}}<br></span>
                <span ng-if="song.note != null"><b>Poznámka</b>
                {{song.note}}<br></span>
        </div>
    </div>-->
</div>