<div song song-comments>
    <div class="pull-right">
        <a href="#/song/{{ctrl.song.id}}/edit" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Editovat</a>
        <span style="position: relative">

            <a href="#/song/{{ctrl.song.id}}/ratings" class="btn btn-default">Hodnocení písně</a>

            <a class="btn btn-default" data-toggle="dropdown">
                Zařadit do zpěvníku <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="item in ctrl.items">
                    <a ng-if="item.included" ng-click="ctrl.removeFromSongbook($index)"><i class="glyphicon glyphicon-ok"></i> <span class="toggle-on-label">{{item.songbook.name}}</span></a>
                    <a ng-if="!item.included" ng-click="ctrl.addToSongbook($index)"><span class="toggle-off-label">{{item.songbook.name}}</span></a>
                </li>
            </ul>
        </span>
    </div>
    <h1>{{ctrl.song.title}}</h1>

    <div class="meta">
    <span ng-if="ctrl.song.author != null"><b>Autor:</b>
    {{ctrl.song.author}}<br></span>
    <span ng-if="ctrl.song.originalAuthor != null"><b>Původní autor:</b>
    {{ctrl.song.originalAuthor}}<br></span>
    <span ng-if="ctrl.song.album != null"><b>Album:</b>
    {{ctrl.song.album}}<br></span>
    <span ng-if="ctrl.song.year != null"><b>Rok:</b>
    {{ctrl.song.year}}<br></span>
    <span ng-if="ctrl.song.note != null"><b>Poznámka</b>
    {{ctrl.song.note}}<br></span>
    </div>

    <section ng-repeat="section in ctrl.lyrics">
        <span class="title">{{section['title']}}&nbsp;</span>

        <p ng-repeat="line in section['lines']" class="line">
            <chpos ng-repeat="char in line track by $index" offset="char['offset']" ctrl="ctrl" char="char['char']" hypen="$index + 1 < line.length && line[$index + 1]['char'] != ' '" chord="ctrl.song.chords[char['offset'].toString()]" editable="false">{{index}}</chpos>
        </p>
    </section>

    <h3>Komentáře</h3>

    <form role="form" ng-submit="ctrl2.save()">
        <textarea placeholder="Přidejte komentář" class="comment form-control" required id="input-comment" ng-model="ctrl2.comment.comment">
        </textarea>
        </br>
        <button type="submit" class="btn btn-success">Uložit</button>
    </form>

    <div class="comment" ng-repeat="comment in ctrl2.comments">
        <span><b>{{comment.username}} napsal: </b><p class="comment">{{comment.comment}}</p></span>
        <span><b>Vytvořeno: </b>{{comment.created}}</span>
        <span ng-if="ctrl2.user.username == comment.username"><span ng-if="ctrl2.editId != comment.id"
                ng-click="ctrl2.prepareEdit(comment.id)"><a>Upravit</a></span></span>
        <form ng-if="ctrl2.editId == comment.id" class="comment" role="form" ng-submit="ctrl2.commentEdit()">
            <textarea class="form-control comment" required id="edit-comment-{{comment.id}}" ng-model="ctrl2.editComment.comment">
            </textarea>
            </br>
            <button type="submit" class="btn btn-success">Uložit</button>
        </form>
    </div>
</div>






