<div songbook_rating songbook-rating>

    <div class="btn-group pull-right">
        <a href="#/songbook/{{ctrl.songbook.id}}/ratings" class="btn btn-default">Zpět</a>
    </div>

    <h1>
        <span ng-if="ctrl.create">Nové hodnocení</span>
        <span ng-if="!ctrl.create">Editace hodnocení</span>
        <span ng-if="ctrl.songbook.name != ''" class="text-muted"> {{ctrl.songbook.name}}</span>
    </h1>

    <form class="songbook_rating" role="form" ng-submit="ctrl.save()">

        <img ng-click="ctrl.rating.rating = 1" ng-if="ctrl.rating.rating >= 1" src="img/star.png" width="20" height="20">
        <img ng-click="ctrl.rating.rating = 2" ng-if="ctrl.rating.rating >= 2" src="img/star.png" width="20" height="20">
        <img ng-click="ctrl.rating.rating = 3" ng-if="ctrl.rating.rating >= 3" src="img/star.png" width="20" height="20">
        <img ng-click="ctrl.rating.rating = 4" ng-if="ctrl.rating.rating >= 4" src="img/star.png" width="20" height="20">
        <img ng-click="ctrl.rating.rating = 5" ng-if="ctrl.rating.rating >= 5" src="img/star.png" width="20" height="20">

        <img ng-click="ctrl.rating.rating = 1" ng-if="ctrl.rating.rating <= 0" src="img/empty_star.png" width="20" height="20">
        <img ng-click="ctrl.rating.rating = 2" ng-if="ctrl.rating.rating <= 1" src="img/empty_star.png" width="20" height="20">
        <img ng-click="ctrl.rating.rating = 3" ng-if="ctrl.rating.rating <= 2" src="img/empty_star.png" width="20" height="20">
        <img ng-click="ctrl.rating.rating = 4" ng-if="ctrl.rating.rating <= 3" src="img/empty_star.png" width="20" height="20">
        <img ng-click="ctrl.rating.rating = 5" ng-if="ctrl.rating.rating <= 4" src="img/empty_star.png" width="20" height="20">

        <div class="form-group">
            <label for="input-note">Komentář</label>
            <input type="text" required class="form-control" id="input-note" ng-model="ctrl.rating.comment">
        </div>

        <button type="submit" class="btn btn-success">Uložit</button>
    </form>

</div>


