<div public-songbooks>
    <div ng-if="ctrl.loaded">
        <div class="pull-right">
            <form class="form-inline" role="search">
                <input ng-model="ctrl.search" type="text" class="form-control" placeholder="Filtrovat zpěvníky">
            </form>
        </div>

        <h1>Veřejné zpěvníky</h1>
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="songbook in ctrl.visibleSongbooks">
                <td><a href="#/songbook/{{songbook.id}}/view">{{songbook.name}}</a></td>
                <td>{{songbook.numberOfSongs}}</td>
                <td>{{songbook.username}}</td>
                <td>{{songbook.tagsStr}}<span ng-if="songbook.tagsStr != '' && songbook.privateTagsStr != ''">, </span><span class="text-success">{{songbook.privateTagsStr}}</span></td>
                <td>
                    <span ng-if="songbook.rating < 1">Zatím nehodnoceno</span>
                    <img ng-if="songbook.rating >= 1" src="img/star.png" width="20" height="20">
                    <img ng-if="songbook.rating >= 2" src="img/star.png" width="20" height="20">
                    <img ng-if="songbook.rating >= 3" src="img/star.png" width="20" height="20">
                    <img ng-if="songbook.rating >= 4" src="img/star.png" width="20" height="20">
                    <img ng-if="songbook.rating >= 5" src="img/star.png" width="20" height="20">
                    <br>
                </td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th><a ng-click="ctrl.sortBy('name')">
                        <span ng-if="ctrl.sort == 'name'">
                            <b ng-if="!ctrl.revert" class="glyphicon glyphicon-triangle-top"></b>
                            <b ng-if="ctrl.revert" class="glyphicon glyphicon-triangle-bottom"></b>
                        </span>
                    Název
                </a></th>
                <th>Počet písní</th>
                <th><a ng-click="ctrl.sortBy('owner')">
                        <span ng-if="ctrl.sort == 'owner'">
                            <b ng-if="!ctrl.revert" class="glyphicon glyphicon-triangle-top"></b>
                            <b ng-if="ctrl.revert" class="glyphicon glyphicon-triangle-bottom"></b>
                        </span>
                    Vlastník
                </a></th>
                <th>Tagy</th>
                <th>Průměrné hodnocení</th>
            </tr>
            </thead>
        </table>
        <div ng-if="ctrl.existsNext && !ctrl.songbooks.isEmpty" class="centerButton">
            <button class="btn btn-default" ng-click="ctrl.loadSongbooks()">Načíst další</button>
        </div>
    </div>
</div>