<div songbooks>
    <div class="pull-right">
        <form class="form-inline" role="search">
            <input ng-model="ctrl.search" type="text" class="form-control" placeholder="Hledat zpěvníky">
            <a href="#/songbook/create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nový zpěvník</a>
        </form>
    </div>
    <h1>Zpěvníky</h1>
    <h2>Vlastní</h2>
    <div class="row" ng-repeat="songbook in ctrl.songbooks">
        <div class="col-md-12">
            <h3><a href="#/songbook/{{songbook.id}}/view">{{songbook.name}}</a></h3>
            <span ng-if="songbook.note != null"><b>Poznámka:</b>
                {{songbook.note}}<br></span>
            <span ng-if="songbook.tagsStr != ''"><b>Tagy:</b>
                {{songbook.tagsStr}}<br></span>
            <br>
        </div>
    </div>
    <h2>Sdílené</h2>
    <div class="row" ng-repeat="songbook in ctrl.sharedSongbooks">
        <div class="col-md-12">
            <h3><a href="#/songbook/{{songbook.id}}/view">{{songbook.name}}</a></h3>
        </div>
    </div>
</div>