<div songbook edit>

    <div class="btn-group pull-right">
        <span ng-if="ctrl.create"><a href="#/songbooks" class="btn btn-default">Zpět</a></span>
        <span ng-if="!ctrl.create"><a href="#/songbook/{{ctrl.songbook.id}}/view" class="btn btn-default">Zpět</a></span>
    </div>

    <h1>
        <span ng-if="ctrl.create">Nový zpěvník</span>
        <span ng-if="!ctrl.create">Editace zpěvníku</span>
        <span ng-if="ctrl.songbook.name != ''" class="text-muted"> {{ctrl.songbook.name}}</span>
    </h1>

    <form class="songbook" role="form" ng-submit="ctrl.save()">
        <div class="form-group">
            <label for="input-title">Název</label>
            <input type="text" required class="form-control" id="input-title" ng-model="ctrl.songbook.name">
        </div>
        <div class="form-group">
            <label for="input-note">Poznámka</label>
            <input type="text" class="form-control" id="input-note" ng-model="ctrl.songbook.note">
        </div>
        <div class="form-group">
            <label for="input-tags">Veřejné tagy (oddělené čárkami)</label>
            <input type="text" class="form-control" id="input-tags" ng-model="ctrl.songbook.tagsStr">
        </div>
        <div class="form-group">
            <label for="input-priv-tags">Soukromé tagy (oddělené čárkami)</label>
            <input type="text" class="form-control" id="input-priv-tags" ng-model="ctrl.songbook.privateTagsStr">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="input-public" ng-model="ctrl.songbook.public">Veřejný zpěvník
            </label>
        </div>

        <button type="submit" class="btn btn-success">Uložit</button>
    </form>

</div>


