<div songs>
    <div ng-if="ctrl.loaded">
        <div class="pull-right">
            <form class="form-inline" role="search">
                <div class="form-group">
                    <input ng-model="ctrl.search" type="text" class="form-control" placeholder="Filtrovat písně">
                </div>
                <!--<button type="button" class="btn" ng-click="ctrl.toggleAdvSearch()"><span class="glyphicon glyphicon-zoom-in"></span></button>-->
                <span ng-if="ctrl.songbook == null">
                    <a href="#/song/create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Vytvořit píseň</a>
                </span>
                <span ng-if="ctrl.songbook != null">
                    <a href="#/songbook/{{ctrl.songbook.id}}/view" class="btn btn-default">Zpět</a>
                    <button class="btn btn-success" ng-click="ctrl.saveSongbook()">Uložit změny</button>
                </span>
                <!-- XML IMPORT -->
                <!--<a href="#/song/import" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Importovat píseň</a> -->
            </form>
        </div>

        <h1 ng-if="ctrl.songbook == null">Vlastní a převzaté písně</h1>
        <h1 ng-if="ctrl.songbook != null">Zařazení písní do zpěvníku {{ctrl.songbook.name}}</h1>
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="song in ctrl.visibleSongs">
                <td><a href="#/song/{{song.id}}/view">{{song.title}}</a></td>
                <td>{{song.author}}</td>
                <td>{{song.album}}</td>
                <td>{{song.year}}</td>
                <td>{{song.username}}</td>
                <td>{{song.tagsStr}}<span ng-if="song.tagsStr != '' && song.privateTagsStr != ''">, </span><span class="text-success">{{song.privateTagsStr}}</span></td>
                <td>
                    <span ng-if="song.rating < 1">Zatím nehodnoceno</span>
                    <img ng-if="song.rating >= 1" src="img/star.png" width="20" height="20">
                    <img ng-if="song.rating >= 2" src="img/star.png" width="20" height="20">
                    <img ng-if="song.rating >= 3" src="img/star.png" width="20" height="20">
                    <img ng-if="song.rating >= 4" src="img/star.png" width="20" height="20">
                    <img ng-if="song.rating >= 5" src="img/star.png" width="20" height="20">
                </td>
                <td ng-if="ctrl.songbook != null">
                    <span ng-if="!ctrl.songbook.containsSong(song.id)"><button class="btn btn-success" ng-click="ctrl.addToSongbook(song)"><span class="glyphicon glyphicon-plus"></span></button></span>
                    <span ng-if="ctrl.songbook.containsSong(song.id)"><button class="btn btn-danger" ng-click="ctrl.removeFromSongbook(song)"><span class="glyphicon glyphicon-minus"></span></button></span>
                </td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th>Název</th>
                <th>Autor</th>
                <th>Album</th>
                <th>Rok</th>
                <th>Vlastník</th>
                <th>Tagy</th>
                <th>Průměrné hodnocení</th>
                <th ng-if="ctrl.songbook != null">
                    {{ctrl.songbook.name}}
                </th>
            </tr>
            </thead>
        </table>
        <!--
        <song_search visible="ctrl.advSearchVisible" ctrl="ctrl" filters="ctrl.filters"></song_search>
        -->
    </div>
</div>