<div wish>
    <div ng-if="ctrl.wish != null">
        <div class="pull-right">
            <span style="position: relative">
                <a class="btn btn-info" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-wrench"></span> Správa přání <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#/wish/{{ctrl.wish.id}}/edit">
                            <span class="glyphicon glyphicon-pencil"></span> Editovat
                        </a>
                    </li>
                    <li>
                        <a ng-click="ctrl.delete()">
                            <span class="glyphicon glyphicon-trash"></span> Smazat
                        </a>
                    </li>
                </ul>
            </span>
        </div>
        <h1>{{ctrl.wish.name}}</h1>

        <div class="meta">
            <span><b>Název:</b>{{ctrl.wish.name}}</span><br>
            <span><b>Interpret:</b>{{ctrl.wish.interpret}}</span><br>
            <span ng-if="ctrl.wish.note != null"><b>Poznámka:</b>
            {{ctrl.wish.note}}<br></span>
            <b>Poslední úprava:</b>
            {{ctrl.formatter.format(ctrl.wish.modified)}}<br>
        </div>

        <h3>Podobné písně</h3>
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="song in ctrl.songs">
                <td>
                    <a href="#/song/{{song.id}}/view">{{song.title}}</a>
                </td>
                <td>{{song.author}}</td>
                <td>{{song.album}}</td>
                <td>{{song.year}}</td>
                <td>{{song.username}}</td>
                <td>{{song.tagsStr}}</td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th>Název</th>
                <th>Autor</th>
                <th>Album</th>
                <th>Rok</th>
                <th>Vlastník</th>
                <th>Tagy</th>
            </tr>
            </thead>
        </table>
        <div class="centerButton">
            <span ng-if="ctrl.songs.isEmpty">
                Žádné písně k zobrazení.
            </span>
        </div>
    </div>
</div>