<span class="lyrics-substr{{cmp.padding ? ' padded' : ''}}">
    <span ng-if="cmp.chordEditor" class="editor">
        <script>$('input.chord').focus();</script>
        <form ng-submit="cmp.setChord()">
            Zadejte akord: <input class="chord" ng-model="cmp.input" type="text"> <input type="submit" value="Ok">
        </form>
    </span>
    <span ng-if="cmp.chord != ''" class="chord">
        {{cmp.chord}}
    </span>
    <span  class="text{{cmp.hypen ? ' hypen' : ''}}">
        <span ng-repeat="char in cmp.text.split('')" class="char">
            <span ng-if="char != ' '" ng-click="cmp.showChordEditor($index)">
                {{char}}
            </span>
            <span ng-if="char == ' '" ng-click="cmp.showChordEditor($index)" class="space">
                &nbsp;&nbsp;
            </span>
        </span>
    </span>
</span>