<form ng-if="cmp.visible" ng-submit="cmp.ctrl.advSearch()" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="input-title" class="control-label col-md-1">Název</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="input-title" ng-model="cmp.title">
        </div>
    </div>
    <div class="form-group">
        <label for="input-album" class="control-label col-md-1">Album</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="input-album" ng-model="cmp.album">
        </div>
    </div>
    <div class="form-group">
        <label for="input-author" class="control-label col-md-1">Autor</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="input-author" ng-model="cmp.author">
        </div>
    </div>
    <div class="form-group">
        <label for="input-tag" class="control-label col-md-1">Tag</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="input-tag" ng-model="cmp.tag">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-1">
            <button type="submit" class="btn btn-success">Hledat</button>
        </div>
    </div>
</form>