<div reset-password>
    <h1>Nastavení nového hesla</h1>
    <form class="register" role="form" ng-submit="ctrl.setNewPassword()">
        <div class="form-group">
            <label for="input-password">Heslo</label>
            <input type="password" required class="form-control" id="input-password" ng-model="ctrl.password">
        </div>
        <div class="form-group">
            <label for="input-password">Heslo znovu (pro kontrolu)</label>
            <input type="password" required class="form-control" id="input-password-check" ng-model="ctrl.passwordCheck">
        </div>
        <button type="submit" class="btn btn-success">Potvrdit</button>
    </form>
</div>