<div sign-in>
    <h1>Přihlášení uživatele</h1>
    <form class="sign-in" role="form">
        <div class="form-group">
            <label for="input-identifier">Emailová adresa</label>
            <input type="text" class="form-control" id="input-identifier" ng-model="ctrl.identifier">
        </div>
        <div class="form-group">
            <label for="input-password">Heslo</label>
            <input type="password" class="form-control" id="input-password" ng-model="ctrl.password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="ctrl.longLife"> Trvalé přihlášení
            </label>
        </div>
        <button type="submit" class="btn btn-success" ng-click="ctrl.signIn()">Přihlásit se</button>
    </form>
    <p class="help-block">Zapomněli jste své heslo?</p>
    <a href="#">Nastavit nové heslo</a>
</div>