<div songbook>
    <div class="pull-right">
        <a href="#/songbook/{{ctrl.songbook.id}}/edit" class="btn btn-info">
            <span class="glyphicon glyphicon-pencil"></span> Upravit zpěvník
        </a>
        <a href="#/song/create/songbook/{{ctrl.songbook.id}}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Vytvořit píseň
        </a>
        <a href="#/songs" class="btn btn-default">
            <span class="glyphicon glyphicon-book"></span> Zařadit píseň
        </a>
    </div>
    <h1>{{ctrl.songbook.name}}</h1>

    <!--<div class="row">
        <div class="col-md-3">
            <h3><a href=""></a></h3>
                <span><b>Autor</b>
                Karel<br></span>
                <span><b>Původní autor</b>
                Pepa<br></span>
                <span><b>Album</b>
                Písně<br></span>
                <span><b>Rok</b>
                2015<br></span>
        </div>
    </div>-->

    <div class="row" ng-repeat="row in ctrl.songbook.songs">
        <div class="col-md-3" ng-repeat="song in row">
            <h3><a href="#/song/{{song.id}}/view">{{song.title}}</a></h3>
                <span ng-if="song.author != null"><b>Autor</b>
                {{song.author}}<br></span>
                <span ng-if="song.originalAuthor != null"><b>Původní autor</b>
                {{song.originalAuthor}}<br></span>
                <span ng-if="song.album != null"><b>Album</b>
                {{song.album}}<br></span>
                <span ng-if="song.year != null"><b>Rok</b>
                {{song.year}}<br></span>
        </div>
    </div>
</div>