<div song>
    <h1>Písně</h1>
        <div class="row" ng-repeat="row in ctrl.songs">
            <div class="col-md-3" ng-repeat="song in row">
                <h3><a href="">{{song.title}}</a></h3>
                <span ng-if="song.author != null"><b>Autor</b>
                {{song.author}}<br></span>
                <span ng-if="song.originalAuthor != null"><b>Původní autor</b>
                {{song.originalAuthor}}<br></span>
                <span ng-if="song.album != null"><b>Album</b>
                {{song.album}}<br></span>
                <span ng-if="song.year != null"><b>Rok</b>
                {{song.year}}<br></span>
            </div>
        </div>
</div>